* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif !important;
    background-color: #fbf9f8;
    color: #fff;
}

.introduce {
    display: grid;
    grid-template-columns: 7.9fr 2.1fr;
    margin: 25px 35px;
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.left-up {
    padding-bottom: 10px;
    color: #111;
}

.left-down{
    color:#111;
    font-size: small;
    
}

.right {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.btn-help-center {
    font-size: 0.9rem;
    background-color: white;
    color: black;
    border-radius: 8px;
    border-color: #cccbc9;
    padding: 0.7rem 1.5rem;
}

.video{
    padding-top: 2rem;
    border-radius: 1rem;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 2rem 0;
    border-radius:  0.6rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
    padding: 1.7rem 3rem 1.7rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: '\02C7';
    font-size: 2rem;
    position: absolute;
    right: 1rem;

}

.accordion-item-header.active::after {
    content: '\02C6';
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2 ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent #035a42, transparent) 1;
}
/* .accordion-item-header.active + .accordion-item-body {
    max-height: 200px;
} */

@media(max-width:767px) {
    html{
        font-size: 14px;
    }
}