html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans", sans-serif !important;
}

#intro-section {
  height: 100vh;
}

#navbar {
  margin-top: 25px;
}

#navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: black;
}

#navbar a {
  margin: auto 15px;
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 0.9rem;
}

#navbar a:hover {
  color: #4ba3c9;
}

#hamburger:hover {
  color: #4ba3c9 !important;
}

#menu {
  display: none;
  background-color: white;
  border: none;
}

.dropdown-item:hover {
  background-color: transparent !important;
}

#brain-img {
  width: 600px;
}

#header-text-container {
  max-width: 580px;
}

#header-big {
  font-size: 4rem;
  margin-bottom: 40px;
  z-index: -1;
}

#header-small {
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 40px;
}

#header {
  margin-top: 120px;
}

#header-text-container button {
  border: 1px solid black;
  border-radius: 0 !important;
  margin-right: 12px;
  font-size: 0.9rem;
  font-weight: 380;
}

#header-text-container button:hover {
  background-color: #4ba3c9;
  color: white;
  border: 1px solid #4ba3c9;
}

#header-buttons button {
  margin-bottom: 10px;
}
.text-mono {
  font-family: "IBM Plex Mono", monospace;
}

#carl-jung-quote-section {
  background-color: #fbf9f8;
  height: 100vh;
}

#carl-jung-quote {
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: center;
}

.container-fluid {
  padding: 0 !important;
}

.text-grey {
  color: #676767;
}

.section-title {
  font-size: 1.1rem;
}

#news-and-press-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.card {
  border-radius: 0 !important;
  border: 1px solid #cccbc9 !important;
}

#news-and-press-section .card {
  width: 25%;
  margin-right: 15px;
  margin-bottom: 20px;
  text-decoration: none;
  min-height: 360px;
}

#news-and-press-section a:hover {
  color: #4ba3c9;
}

#news-and-press-section a {
  padding: 15px;
}

#news-and-press-section a:hover {
  transform: translateY(-15px);
  transition: transform 0.3s ease-out;
}

#news-and-press-section .section-title {
  margin-bottom: 40px;
}

.card-read-more {
  position: absolute;
  bottom: -0px;
  left: 20px;
  letter-spacing: 0.25rem;
  font-size: 0.8rem;
}
.card-category {
  font-weight: 400;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
}

.card-content {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 10px;
}

#arrow-down-btn {
  font-size: 1.5rem;
  margin-top: 30px;
}

#arrow-down-btn:hover {
  transform: translateY(10px);
  transition: transform 0.3s ease-out;
}

.feedback-card {
  max-width: 500px;
}

.carouselExampleIndicators {
  height: 100vh;
}

#partnership-section img {
  height: 40px;
  margin: auto 20px;
}

#partnership-section p {
  font-size: 1.2rem;
  margin-bottom: 50px;
  text-align: center;
}

#partnership-section {
  margin-top: 120px;
}

iframe {
  width: 50%;
  height: calc(50vw / 1280 * 720);
}

#vid-description {
  margin-right: 50px;
  width: 50%;
}

#vid-container {
  padding: 100px;
}

#vid-container h3 {
  font-size: 3rem;
}

#vid-container p {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
}

#partnership-section img {
  margin-bottom: 15px;
}

/* Animation */
.zero-opacity {
  opacity: 0;
}

.fadeInBottom {
  animation: fadeInBottom 1.2s both;
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInTop {
  animation: fadeInTop 1.2s both;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1.2s both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  animation: fadeInRight 1.2s both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1000px) {
  #header {
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    padding: 20px !important;
  }

  #vid-description {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #vid-container {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  iframe {
    width: 80%;
    height: calc(80vw / 1280 * 720);
  }

  #header-big {
    font-size: 3.5rem;
  }
  #brain-img {
    margin: 50px auto;
    width: 400px;
  }

  #carl-jung-quote-section {
    padding: 20px !important;
  }

  #intro-section {
    height: auto;
  }

  #navbar-middle {
    display: none !important;
  }

  #menu {
    display: block;
  }

  #news-and-press-section {
    padding: 60px 20px 40px;
  }
}

@media screen and (max-width: 1000px) {
  #news-and-press-section > div {
    flex-wrap: wrap;
  }
  #news-and-press-section .card {
    width: 46% !important;
    min-height: 300px !important;
  }
}

@media screen and (max-width: 760px) {
  #news-and-press-section > div {
    flex-direction: column;
  }

  #news-and-press-section .card {
    width: 100% !important;
    min-height: 300px !important;
    margin-right: 0;
  }

  #partnership-section {
    margin-top: 40px;
  }
}

@media screen and (max-width: 550px) {
  #vid-description h3 {
    font-size: 2rem;
  }

  #vid-description p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 420px) {
  #brain-img {
    margin: 50px auto 20px;
    width: 270px;
  }

  #header-big {
    font-size: 2.5rem;
  }

  #header {
    margin-top: 15px;
  }

  #carl-jung-quote {
    font-size: 1rem;
  }
}
